html, body{
    height: 100%
}
form p{
    font-size: 18px;
}
.margin-top{
    margin-top: 30px;
}

.top-bar{
    height: 75px;
    padding-top: 30px;
}
.sign-in p{
    font-size: 18px;
    color: brown; 
}

.header{
    background-color: #d4001a;
    padding-top: 15px;
    color: white;
    height: 65px;
    font-size: 20px;
}

#username{
    width: 20%;
    margin-bottom: 50px;
}
#password{
    width: 20%;
    margin-bottom: 20px;
}

.footer-style{
    margin: auto;
    margin-bottom: 20px;
    background-color: #f2eee9;
    height: 115px;
    width:60%;
    padding: 10px;
}